{% extends 'base.html' %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container border col-9 col-md-6 col-lg-3 rounded p-3">
<h1 class="h3 mb-3 fw-normal text-center">Please sign in</h1>
<div class="container">
<form action="{% url 'accounts:login' %}" method="POST">
  {% csrf_token %}
  <input type="hidden" name="next" value="{{ request.GET.next }}">
  {% for field in form %}
  <div class="mb-3">
    {{ field.label }}
    {{ field }}
  </div>
  {% endfor %}
  {% if form.non_field_errors %}
    <div class="alert alert-danger">
      {{ form.non_field_errors }}
    </div>
  {% endif %}
  <button type="submit" class="btn btn-primary w-100 mt-3 btn-lg">Login</button>
</form>
</div>
</div>
{% endblock %}