{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="container">
  <div class="py-5 text-center">
    <h1 class="h2">Register</h1>
    <p class="lead">
      Create your account to join seminars, connect with participants, and manage your events easily.
    </p>
  </div>
  <div class="col-md-7 col-lg-8 mx-auto">
    <form action="{% url 'accounts:register' %}" method="post" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    <!-- {{ form }} -->
    <!-- {% for field in form %}
    {{ field.label_tag }}
    {{ field }}
    {% for error in field.errors %}
    <div class="text-danger">
      {{ error }}
    </div>
    {% endfor %}
    {% endfor %} -->

    {% include 'components/form_field.html' with field=form.first_name %}
    {% include 'components/form_field.html' with field=form.last_name %}
    {% include 'components/form_field.html' with field=form.username %}
    {% include 'components/password_field.html' with field=form.password %}
    {% include 'components/form_field.html' with field=form.phone %}
    {% include 'components/form_field.html' with field=form.email %}
    {% include 'components/form_field.html' with field=form.address %}
    {% include 'components/form_field.html' with field=form.country %}
    {% include 'components/form_field.html' with field=form.city %}
    {% include 'components/form_field.html' with field=form.profile_picture %}
    <button type="submit" class="btn btn-primary w-100 btn-lg mt-4">Submit</button>
    </form>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
    const passwordInput = document.getElementById("password");
    const toggleButton = document.getElementById("toggle-password");

    toggleButton.addEventListener("click", function () {
        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            this.textContent = "Hide";
        } else {
            passwordInput.type = "password";
            this.textContent = "Show";
        }
    });
</script>
{% endblock %}