{% extends 'blog/base.html' %}

{% load static %}

{% block title %}{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/breadcrumbs.css' %}">
<style>
  .bi {
    vertical-align: -0.125em;
    fill: currentColor;
  }
</style>
{% endblock %}

{% block content %}
<main class="container">
  <div class="row g-5">
    <div class="col-md-8">
        <nav aria-label="breadcrumb">
          <ol
            class="breadcrumb breadcrumb-chevron p-3 bg-body-tertiary rounded-3"
          >
            <li class="breadcrumb-item">
              <a class="link-body-emphasis" href="#">
                <i class="bi bi-house-door-fill"></i>
                <span class="visually-hidden">Home</span>
              </a>
            </li>
            <li class="breadcrumb-item">
              <a
                class="link-body-emphasis fw-semibold text-decoration-none"
                href="#"
                >Library</a
              >
            </li>
            <li class="breadcrumb-item active" aria-current="page">Data</li>
          </ol>
        </nav>
      <article class="blog-post">
        <h2 class="display-5 link-body-emphasis mb-1">{{ post.title }}</h2>
        <p class="blog-post-meta">
          {{ post.created_at|date:'M d, Y' }} by <a href="#">{{ post.author}}</a>
        </p>
        {{ post.content|safe }}
      </article>
    </div>
    <div class="col-md-4">
      <div class="position-sticky" style="top: 2rem">
        <a href="" class="link-body-emphasis text-decoration-none">
          <div class="p-4 mb-3 bg-body-tertiary rounded">
              <img src="{{ post.author.profile_picture_url }}" width="32" height="32" class="rounded-circle object-fit-cover me-2">
              <strong>{{ post.author.first_name }}</strong>
            <p class="mt-2 mb-0">{{ post.author.bio }}</p>
          </div>
        </a>
        {% if recent_user_posts %}
        <div>
          <h4 class="fst-italic">Recent {{ post.author.first_name }}'s posts</h4>
          <ul class="list-unstyled">
            {% for post in recent_user_posts %}
            <li>
              <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="{% url 'blog:post_detail' post.slug %}">
                <img src="{{ post.image_url }}" height="100" width="100" class="object-fit-cover">
                <div class="col-lg-8">
                  <h6 class="mb-0">{{ post.title }}</h6>
                  <small class="text-body-secondary"
                    >{{ post.created_at|date:'M d, Y' }}</small
                  >
                </div>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
        {% endif %}
        <div>
          <h4 class="fst-italic">Recent posts</h4>
          <ul class="list-unstyled">
            {% for post in recent_posts %}
            <li>
              <a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="{% url 'blog:post_detail' post.slug %}">
                <img src="{{ post.image_url }}" height="100" width="100" class="object-fit-cover">
                <div class="col-lg-8">
                  <h6 class="mb-0">{{ post.title }}</h6>
                  <small class="text-body-secondary"
                    >{{ post.created_at|date:'M d, Y' }}</small
                  >
                </div>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock %}