{% extends 'blog/base.html' %}

{% block title %}Seminar Blog{% endblock %}

{% block content %}
<div class="container py-3">
    <!-- {% for post in page_obj %}
    <article class="mb-5">
        <h2>
            <a href="{% url 'blog:post_detail' slug=post.slug %}">
                {{ post.title }}
            </a>
        </h2>
        <p></p>
    </article>
    {% empty %}
    <p>No posts available.</p>
    {% endfor %} -->
    {% if is_category_page %}
      {% include 'blog/components/breadcrumb.html' with breadcrumbs=current_category.get_breadcrumbs %}
    {% endif %}
  <div class="row mb-2">
    {% for post in page_obj %}
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary-emphasis">{% for category in post.category.get_breadcrumbs %}{% if not forloop.last %}{{ category.name }} > {% else %}{{ category.name }}{% endif %}{% endfor %}</strong>
          <h3 class="mb-0">{{ post.title }}</h3>
          <div class="mb-1 text-body-secondary">{{ post.created_at|date:'F j, Y' }}</div>
          <!-- <p class="card-text mb-auto">
            short description...
          </p> -->
          <a href="{% url 'blog:post_detail' slug=post.slug %}" class="icon-link gap-1 icon-link-hover stretched-link">
            Continue reading
            <svg class="bi" aria-hidden="true">
              <use xlink:href="#chevron-right"></use>
            </svg>
          </a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <!-- <svg
            aria-label="Placeholder: Thumbnail"
            class="bd-placeholder-img"
            height="250"
            preserveAspectRatio="xMidYMid slice"
            role="img"
            width="200"
            xmlns="http://www.w3.org/2000/svg"
          >
            <title>Placeholder</title>
            <rect width="100%" height="100%" fill="#55595c"></rect>
            <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
          </svg> -->
          <img class="object-fit-cover" src="{{ post.image_url }}" alt="" height="250" width="200">
        </div>
      </div>
    </div>
    {% empty %}
    <h4 class="alert alert-danger text-center w-auto mx-auto">No posts available</h4>
    {% endfor %}
  </div>
</div>
<nav class="blog-pagination">
    {% include 'components/pagination.html' %}
</nav>
{% endblock %}