{% extends 'base.html' %}
{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
<section>
    <div class="container px-4 px-lg-5">
        <div class="py-4 text-left">
            <h1 class="h2">Latest Seminars</h1>
        </div>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for seminar in seminars %}
            <div class="col mb-5">
                <div class="card h-100">
                    <img class="card-img-top object-fit-cover"
                    src="{% if seminar.image %}
                    {{ seminar.image.url }}
                    {% else %}
                    {% static 'images/default_seminar_image.png' %}
                    {% endif %}"
                    alt="seminar image"
                    height="220px" />
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">{{ seminar.title }}</h5>
                            {{ seminar.price }}
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'core:seminar_detail' seminar.id %}">View Seminar</a></div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}