{% extends 'base.html' %}
{% load static %}

{% block title %}{{ seminar.title }}{% endblock %}

{% block content %}
<section class="py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="row gx-4 gx-lg-5 align-items-center">
            <div class="col-md-6"><img class="card-img-top mb-5 mb-md-0"
                src="{% if seminar.image %}
                    {{ seminar.image.url }}
                    {% else %}
                    {% static 'images/default_seminar_image.png' %}
                    {% endif %}"
                alt="..." /></div>
            <div class="col-md-6">
                <div class="small mb-1">seminar code: {{ seminar.id }}</div>
                <h1 class="display-5 fw-bolder">{{ seminar.title }}</h1>
                <div class="fs-5 mb-5">
                    <span>{{ seminar.price }} $</span>
                </div>
                <p class="lead">{{ seminar.discription }}</p>
                <hr>
                <p class="lead">teacher: {{ seminar.teacher }}</p>
                <p class="lead">category: {{ seminar.category }}</p>
                <p class="lead">{{ seminar.session_date }}</p>
                <p class="lead">{{ seminar.session_time_start }} to {{ seminar.session_time_end }}</p>
                <p class="lead">{% if seminar.location %}address: {{ seminar.location }}{% endif %}</p>
                <p class="lead">{% if seminar.is_inperson %}Inperson{% else %}Online{% endif %}</p>
                <hr>
                <p class="lead">{{ seminar.status }}</p>
                {% if seminar.status == "inprogress" %}
                <div class="progress" role="progressbar" style="height: 20px;" aria-label="Animated striped example" aria-valuenow="{{ seminar.progress }}" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: {{ seminar.progress }}%;"><span>{{ seminar.progress }}%</span></div>
                </div>
                {% endif %}
                
                <hr>
                <p class="lead">{{ seminar.participants.count }} Participants</p>
                <div class="d-flex">
                    {% if not request.user == seminar.teacher %}
                    <form method="post">
                        {% csrf_token %}
                        {% if is_joined %}
                        <button class="btn btn-outline-success flex-shrink-0 me-4" disabled>Participated!</button>
                        {% else %}
                        <button class="btn btn-outline-primary flex-shrink-0 me-4" type="submit">Participate</button>
                        {% endif %}
                    </form>
                    {% else %}
                    <a href="{% url 'edit_seminar' seminar.id %}" class="btn btn-outline-warning flex-shrink-0 me-4">Edit</a>
                    <a href="{% url 'delete_seminar' seminar.id %}" class="btn btn-outline-danger flex-shrink-0 me-4">Delete</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}