{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block title %}Seminar List{% endblock %}
{% block content %}
<header class="bg-secondary py-1">
    <div class="container px-4 px-lg-5 my-4">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">
                {% if current_category %}
                {{ current_category.name }}
                {% else %}
                Seminars
                {% endif %}
            </h1>
        </div>
    </div>
</header>
<section>
    <div class="container px-4 px-lg-5 mt-5">
        <form class="mb-4" action="{% url 'core:seminar_list' %}" method="get">
            {% if request.GET.search %}
            <input type="hidden" name="search" value="{{ request.GET.search }}">
            {% endif %}
            
            {% if request.GET.category %}
            <input type="hidden" name="category" value="{{ request.GET.category }}">
            {% endif %}
            <select name="sort" class="form-select w-auto" onchange="this.form.submit()">
            <option value="newest" {% if sort == "newest" %}selected{% endif %}>Newest</option>
            <option value="oldest" {% if sort == "oldest" %}selected{% endif %}>Oldest</option>
            <option value="price_high" {% if sort == "price_high" %}selected{% endif %}>Price: High To Low</option>
            <option value="price_low" {% if sort == "price_low" %}selected{% endif %}>Price: Low To High</option>
            </select>
        </form>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% if page_obj %}
            {% for seminar in page_obj %}
            <div class="col mb-5">
                <div class="card h-100">
                    <img class="card-img-top"
                    src="{% if seminar.image %}
                    {{ seminar.image.url }}
                    {% else %}
                    {% static 'images/default_seminar_image.png' %}
                    {% endif %}"
                    alt="seminar image" />
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">{{ seminar.title }}</h5>
                            {{ seminar.price|intcomma }} Toman
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-dark mt-auto" href="{% url 'core:seminar_detail' seminar.id %}">View Seminar</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% else %}
            <h4 class="alert alert-danger text-center">No seminars found</h4>
            {% endif %}
        </div>
    </div>
</section>
{% include 'pagination.html' %}
{% endblock %}