{% extends 'dashboard/base.html' %}
{% load static %}

{% block title %}Favorite{% endblock %}

{% block content %}
<section class="py-3">
    <div class="container px-4 px-lg-5 mt-5">
        <h2 class="h2 pb-3">Favortie Seminars</h2>
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 justify-content-center">
            {% if favorite_seminars %}
            {% for seminar in favorite_seminars %}
            <div class="col mb-5">
                <div class="card h-100">
                    <img class="card-img-top object-fit-cover"
                    src="{% if seminar.image %}
                    {{ seminar.image.url }}
                    {% else %}
                    {% static 'images/default_seminar_image.png' %}
                    {% endif %}"
                    alt="seminar image"
                    height="220px" />
                    <div class="card-body p-4">
                        <div class="text-center">
                            <h5 class="fw-bolder">{{ seminar.title }}</h5>
                            {{ seminar.session_start|date:'d M Y' }}
                        </div>
                    </div>
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                            <form action="{% url 'core:toggle_favorite' seminar.id %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ request.get_full_path }}">
                            <button type="submit" class="btn btn-outline-danger w-100 d-block">Remove Favorite</button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        {% else %}
        <h4 class="alert alert-warning text-center">No Seminar</h4>
        {% endif %}
    </div>
</section>
{% endblock %}