{% extends 'dashboard/base.html' %}
{% load humanize %}

{% block content %}
<div class="container py-4">
    <h1>Wallet</h1>
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Balance</h5>
            <h2>{{ wallet.balance|intcomma }}</h2>
        </div>
    </div>
    <div class="card mt-4">
        <div class="card-body">
            <h5 class="card-title">Transaction History</h5>
            {% if transactions %}
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Type</th>
                            <th>Amount</th>
                            <th>Description</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for transaction in transactions %}
                        <tr>
                            <td>{{ transaction.get_transaction_type_display }}</td>

                            {% if transaction.transaction_type == 'deposit' %}
                            <td><span class="text-success">+{{ transaction.amount|intcomma }}</span></td>
                            {% elif transaction.transaction_type == 'seminar_payment' %}
                            <td><span class="text-danger">-{{ transaction.amount|intcomma }}</span></td>
                            {% endif %}

                            <td>{{ transaction.description|default:'-' }}</td>
                            <td>{{ transaction.created_at }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {% else %}
            <p class="text-muted">
                You don't have any transactions yet.
            </p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}